%h2 Leave your comment

= form_for :comment, url: "/comments" do |f|
  = f.hidden_field :commentable_type, value: @commentable_type
  = f.hidden_field :commentable_id, value: @commentable_id

  = f.text_area :body
  %br
  = f.submit "Add Comment"
