<h2>Register</h2>

<%= render partial: "/user_errors" %>

<%= form_for @user, url: users_path  do |f| %>
  <%= label_tag :username %><br>
  <%= f.text_field :username %>
  <br>
  <%= label_tag :email %><br>
  <%= f.text_field :email %>
  <br>
  <%= label_tag :password %><br>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Register" %>
<% end %>
