%h2= @film.title
%ul
  / %li= "Genre: #{@film.genre}"
  %li= "Released in #{@film.release_year}"
  %li= @film.description

%h3= "Reviews for #{@film.title}"
-if @film.reviews
  %ul
    -@film.reviews.each do |review|
      %li= link_to review.headline, review_path(review)

%p= link_to "Write a review for #{@film.title}", reviews_new_path
%p= link_to "Comment on #{@film.title}", comments_new_path(commentable_type: "Film", commentable_id: @film.id)
- @film.comments.each do |comment|
  = render '/comments/show', comment: comment