%h2= @film.title
%ul
  / %li= "Genre: #{@film.genre}"
  %li= "Released in #{@film.release_year}"
  %li= @film.description

%h3= "Reviews for #{@film.title}"
-if @film.reviews
  = render partial: 'reviews/review_list', locals: { film: @film }
-else
  %p No reviews yet.  Be the first to write one!
%p= link_to "Write a review for #{@film.title}", reviews_new_path
