%h2= @film.title
%p= "Average Rating: #{@film.star_display}#{@film.display_quarter_star}"


%ul
  / %li= "Genre: #{@film.genre}"
  %li= "Release year: #{@film.release_year}"
  %li= "Description: #{@film.description}"

%h2= "Reviews!"
-if @film.reviews

  = render partial: 'reviews/review_list', locals: { film: @film }

%ul{:id => "film_menu"}
  %li{:class => "blue"}= link_to "Write a review", reviews_new_path
  %li{:class => "blue"}= link_to "Leave a comment", comments_new_path(commentable_type: "Film", commentable_id: @film.id)
  - @film.comments.each do |comment|
    = render '/comments/show', comment: comment
