<h2><%= link_to @review.film.title, film_path(@review.film) %></h2>
<h3 class="headline"><%= @review.headline %></h3>
<p><%= @review.content %><strong> by <%= link_to @review.reviewer.username, user_path(@review.reviewer) %></strong></p>

<% if @errors %>
 <p>Log in to vote!</p>
<% end %>

<ul id="film_menu">
<% if current_user && @author.id == current_user.id  %>
  <li></li>
<% elsif current_user && !current_user.voted?(@review.id) %>
  <li>
    <%= form_for :vote, url: create_vote_path do |f| %>
      <%= f.submit "Like this review!" %>
    <% end %>
  </li>
<% elsif current_user %>
  <li class="red">You found this review helpful!</li>
<% end %>
  <li class="blue">
    <%= link_to "Leave a comment", comments_new_path(commentable_type: "Review", commentable_id: @review.id) %>
  </li>
  <li class="back blue">
    <%= link_to "back to film", film_path(@review.film) %>
    <li>
</ul>

<% @review.comments.each do |comment| %>
  <%= render '/comments/show', comment: comment %>
<%end%>
