<!DOCTYPE html>
<html>
<head>
  <title>RatersOfTheLostArc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "/stylesheets/normalize" %>
  <%= stylesheet_link_tag    "/stylesheets/styles" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <nav id="nav-bar">
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <% if session[:user_id] %>
        <li><%= link_to "Logout", "/sessions", method: :delete %></li>
        <li><%= link_to "Hey #{current_user.username}!", user_path(session[:user_id]) %></li>
      <% else %>
        <li><%= link_to "Register", users_new_path %></li>
        <li><%= link_to "Login", "/sessions/new" %></li>
      <% end %>
    </ul><br>

    <div>
      <img id="cats" src="cats-at-movies-gray.png">
    </div>

    <ul>
      <li>Reviews</li>
      <li>Films</li>
      <li>Genres</li>
      <li>Actors</li>
    </ul>

  </nav>
<div id="main-body">
  <%= yield %>
</div>

</div>

</body>
</html>
