<!DOCTYPE html>
<html>
<head>
  <title>RatersOfTheLostArc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="nav-bar">
    <%= link_to "Home", "/" %>
    <% if session[:user_id] %>
      <%= link_to "Logout", "/sessions", method: :delete %>
      <%= link_to "Hey #{current_user.username}!", user_path(session[:user_id]) %>
    <% else %>
      <%= link_to "Register", users_new_path %>
      <%= link_to "Login", "/sessions/new" %>
    <% end %>
  </nav>
<%= yield %>

</body>
</html>
